{% extends "base.html" %}

{% block content %}

<!-- About Section -->
<section id="about" class="section">
  <div class="container">
    <div class="content" style="max-width: 800px; margin: auto;">
      <h2 class="title is-2 is-family-serif">
        Ajude Mohamad Ben Al-Arbi a receber tratamento médico urgente!
      </h2>
      <div class="columns is-mobile is-centered">
        <div class="column is-narrow">
          <figure class="image is-250x200" style="margin: 0 auto;">
            <img class="is-rounded" src="/static/Mohamad1Cropped.jpg" style="height: 250px; width: 200px;" alt="">
          </figure>
        </div>
      </div>
      
      <p>
        Olá, somos a Soumaya e Manal Ounkhir, e estamos aqui para pedir ajuda para o tratamento médico do nosso avô.      
      </p>
      <p>
        Nosso avô, Mohamad Ben Al-Arbi, é uma das pessoas mais generosas e amorosas que conhecemos. Morador de um vilarejo perto de Aoulouz, em Marrocos, ele sempre foi uma pessoa muito ativa e feliz. Todos os dias, acordava às 5h da manhã para pastorear as suas ovelhas e cuidar da pequena plantação que possuía, sempre com um sorriso no rosto e uma energia contagiante.
      </p>

      <div class="columns">
        <div class="column">
          <p>
          Agora, ele está enfrentando o momento mais difícil da sua vida. Após sofrer uma queda enquanto pastoreava, sua saúde vem piorando rapidamente. Ele perdeu muito peso, tudo que come não o sustenta. Nos últimos dias, sua perna inchou, ficou roxa e avermelhada, e ele sente dores insuportáveis. Ele não consegue mais caminhar e sequer falar. Ele ficou irreconhecível.
          </p> 
        </div>
        <div class="column">
          <figure class="image is-256x256">
            <img src="/static/perna.jpeg" alt="">
          </figure>
        </div>
      </div>


      <div class="columns">
        <div class="column">
          <figure class="image is-276x276">
            <img src="/static/repouso.png" alt="">
          </figure>
        </div>
        <div class="column">
          <p>
            Nossa família tentou de tudo para conseguir atendimento para ele. Ele já foi levado a hospitais públicos, mas foi ignorado e não recebeu nenhum tratamento ou diagnóstico. A situação nos hospitais públicos é extremamente precária, e ele simplesmente foi mandado de volta para casa sem qualquer ajuda, tratamento ou diagnóstico.
          </p> 
        </div>
      </div>
      

  

      <p>
      Agora, a única opção que temos é interná-lo em um hospital particular, mas os custos são altíssimos. Toda minha família se uniu para juntar dinheiro para esta causa. Mas ainda assim é insuficiente. Uma diária no hospital custa 400 euros (aproximadamente 6.200 reais), sem contar exames, medicamentos e a cirurgia que ele precisará. Infelizmente, nossos recursos não são suficientes.
      </p> 

      <p>
      Por isso, pedimos sua ajuda para dar ao meu avô a chance de receber o tratamento adequado. Cada doação, por menor que seja, pode fazer a diferença entre sofrimento e alívio, entre desespero e esperança.
      </p>  
      
      <p>
      Se você não puder doar, por favor, compartilhe esta campanha para que mais pessoas possam ajudar.
      </p>  

      <p>
      Que Deus recompense cada um de vocês por sua generosidade!
      </p>  
    </div>  
    <div class="content" style="max-width: 800px; margin: auto;">
      <hr id="contact">
      <!-- Contato -->
      <h3 class="title is-3 mt-1">Informações para doação</h3>
      <div class="content">
        Banco do Brasil <br>
        Nome: <code>Soumaya Ounkhir</code> <br>
        Conta: <code>66234-8</code> <br>
        Agencia: <code>0014-0</code> <br>
        Pix: <code>700.719.231.95</code>
      </div>

      <blockquote>
        <strong>Até o momento:</strong> <br>
        Total arrecadado: <strong>R$1.495,00</strong> <br>
        Doadores: <strong>8</strong>
      </blockquote>
      <hr>
    </div>
  </div>
</section>

<!-- Seção de Últimas Postagens (Opcional) -->
<section class="section" style="display: none;">
  <div class="container">
    <h1 class="title is-1">Atualizações</h1>
    {% for post in metainfos %}
      <div class="card">
        <div class="card-content">
          <div class="post-preview">
            <a href="{{ url_for('post', path=post.file|safe, lang=lang) }}">
              <h2 class="title is-3">{{ post.title[0]|safe }}</h2>
              <h3 class="subtitle is-5">{{ post.subtitle[0]|safe }}</h3>
              <h5 class="title is-6 has-text-grey">Postado por {{ post.authors[0]|safe }} em {{ post.date[0]|safe }}</h5>
            </a>
            <a class="button mt-2" href="{{ url_for('post', path=post.file|safe, lang=lang) }}">Ler Post</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
